<header class='w-full'>
	<nav class='h-20 fixed w-full bg-stone-200/50 backdrop-blur-xs'>
		<div class='flex justify-between items-center px-8 h-full'>
			<a href='/' class='font-bold text-3xl'>Best Blog API</a>
			<ul class='flex justify-center items-center'>
				<li class='text-lg px-4'>
					<a
						href='https://github.com/Ovi/DummyJSON'
						target='_blank'
						class='flex items-center gap-2 rounded-md border border-stone-600 px-4 py-2 text-stone-600 hover:bg-stone-600 hover:text-white'
					>
						<img
							class='size-8'
							src='https://voyager.postman.com/logo/postman-logo-icon-orange.svg'
							alt='Icon'
						/>
						PostMan
					</a>
				</li>
				<li class='text-lg px-4'>
					<a
						href='https://github.com/Ovi/DummyJSON'
						target='_blank'
						class='flex items-center gap-2 rounded-md border border-stone-600 px-4 py-2 text-stone-600 hover:bg-stone-600 hover:text-white'
					>
						<img
							class='size-8'
							src='https://insomnia.rest/favicon.ico'
							alt='Icon'
						/>
						Insomnia
					</a>
				</li>
			</ul>
			<!-- <span class='nav-burger-menu'
				><img
					src='https://assets.dummyjson.com/public/img/icons/bar.svg'
					alt='Nav Menu'
				/></span
			> -->
		</div>
	</nav>
</header>
