---
import WowIcon from '@/assets/wow-icon.svg'
---

<div class='my-10'>
	<h1 class='text-3xl font-bold flex items-center'>
		<WowIcon /> Best Blog API - Real Data
	</h1>
	<p class='m-4 text-lg'>
		Best Blog API is a Dev ready API that can be used with fast blog type of
		frontend and backend projects. It comes with a real-data blog API that
		supports pagination, category support, full-text search, and content in HTML
		format. It has also been tested with English articles and should work with
		content that contains spelling mistakes.
		<br />
		<br />
		<span class='text-green-600 font-bold text-2xl'
			>😍 200+ Posts and 30 Categories with Seo Meta!</span
		>
	</p>
</div>
